dist: trusty
sudo: required
services:
    - docker
env:
    - GO_DIRS=". ./modules/classifiers ./modules/wrappers ./modules/ml ./types ./utils ./godpi_example"
script:
    - sudo docker build -t godpi-example .
    - >
        sudo docker run --entrypoint=/bin/bash
        -e TRAVIS
        -e TRAVIS_JOB_ID
        -e GO_DIRS
        godpi-example -c 'go get golang.org/x/tools/cmd/cover github.com/mattn/goveralls &&
        $GOPATH/bin/goveralls -ignore godpi_example/example_app.go -service=travis-ci'
    - ./.travis.golint.sh
    - ./.travis.govet.sh
